<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %} 
 
<form action="/deleteUser" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Delete User</h1>
			</div>
 
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username_to_delete">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password_d">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
 
                <input type="submit" value="Delete" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>

<form action="/addUser" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Add new user</h1>
			</div>
 
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username_to_add">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password_a">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
 
                <input type="submit" value="Add user" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>
<a href='/logout' class="logout btn btn-primary btn-large btn-block">Logout</a>

 
{% endblock %}


